.top{height:51pt;padding-bottom: 0}
.top .title .logo{background-image: url(../img/logotitle.png);height: 27pt;width: 84pt;float: left;}

.down{background: #efefef;width: 100%;padding-top: 102px}
.down .search{height:35pt;line-height: 64px;border:2px solid #ea433b;margin: 0 auto;width: 495pt;}
.down .search .text{width: 606px;height:34pt;font-size: 24px;float:left;text-indent: 20px;float:left;background:#fff;text-align:left;color:#999;margin-top: 1px;border: 0;font-family: 宋体}
.down .search .button{float:left;cursor:pointer;width: 54px;height: 35pt;line-height: 64px;text-align: center;background-color: #ea433b}
.down .search .button div{background-image: url(../img/icon.png);background-position: -106px -58px;width: 20pt;height: 20pt;margin-top: 10px;margin-left: 18px}

.down .content{margin: 0 auto;width: 800pt;padding-bottom: 86px;margin-top: 30pt;}
.down .content .toul{float:left;}
.down .content .toul ul li{width:38pt;height:38pt;cursor: pointer;}
.down .content .toul ul li span{display: none}
.down .content .toul ul li.yanyuan{background: url(../img/bs01.png)}
.down .content .toul ul li.canalar{background: url(../img/bs02.png)}
.down .content .toul ul li.notetext{background: url(../img/bs03.png)}
.down .content .toul ul li.task{background: url(../img/bs04.png)}
.down .content .toul ul li.contants{background: url(../img/bs5.png)}
.down .content .toul ul li.cloud{background: url(../img/bs06.png)}
.down .content .toul ul li.delete{background: url(../img/bs07.png)}
.down .content .toul ul li.question{background: url(../img/light1.png);width: 30.72pt;height: 30.72pt;margin-left:7px;margin-top:20px;}

.down .content .toul ul li.yanyuan2{background-image: url(../img/bs1.png)}
.down .content .toul ul li.canalar2{background-image: url(../img/bs2.png)}
.down .content .toul ul li.notetext2{background-image: url(../img/bs3.png)}
.down .content .toul ul li.task2{background-image: url(../img/bs4.png)}
.down .content .toul ul li.contants2{background-image: url(../img/bs5.png)}
.down .content .toul ul li.cloud2{background-image: url(../img/bs6.png)}
.down .content .toul ul li.delete2{background-image: url(../img/bs7.png)}
.down .content .toul ul li.question2{background-image: url(../img/light.png);width: 30.72pt;height: 30.72pt;margin-left:7px;margin-top:20px;}


.down .content .contentbody{float:left;margin-left:15pt;margin-right:20pt;width: 605pt;}
.down .content .contentbody ul.oul{width: 100%;}
.down .content .contentbody ul.oul li.list{margin-right:0;}
.down .content .contentbody ul.oul li{width: 300pt;height: 75pt;background-color: #fff;float:left;margin-right:5pt;margin-bottom: 8pt}
.down .content .contentbody ul.oul li .head{background: #d7d7d7;width: 60pt;height: 60pt;border-radius: 122px;float:left; margin-left:5pt; margin-top:8pt;}
.down .content .contentbody ul.oul li .head .border{height: 60pt;width: 60pt;border-radius: 120px;background: #fff;position: relative;}
.down .content .contentbody ul.oul li .head .border .img{height:60pt;width: 60pt;border-radius: 110px;position: absolute;}
.down .content .contentbody ul.oul li .text{float:left;margin-left: 10px;width: 140pt}
.down .content .contentbody ul.oul li .text .name{color: #595757;font-size: 14pt;margin-top:10px;font-family: FZLTZHK}
.down .content .contentbody ul.oul li .text .del p{color: #9fa0a0;font-size: 9pt;margin: 0}
.down .content .contentbody ul.oul li .text .del p.pID{margin-top: 14px; font-size:9pt;}
.down .content .contentbody ul.oul li .text .del p.pEmail{margin-top: 2px; font-size:9pt;}
.down .content .contentbody ul.oul li .E-mail{background-image: url(../img/icon1.png); width:35pt;height:35pt;float: right;margin-left: 0px;margin-top:26px;cursor: pointer; margin-right:15pt;}

.down .content .group{float:left;}
.down .content .group ul{width: 115pt}
.down .content .group ul li{height: 30pt;line-height: 30pt;font-size:12pt;background: #fff;border: 1px solid #DADADA;text-indent: 10px;cursor: pointer;font-family: FZLTZHK;color: #898989}
.down .content .group ul li:hover{background:#ff8382}
.down .content .group ul li a{float:right;margin-right:10px;color: #898989}
.down .content .group ul li.active{background: #ff8382;color: #fff}


.toulbgtext{background-image: url(../img/icon.png);background-position:-190px -51px;width:64pt;height:30pt;text-align: center;line-height: 30pt;color: #fff;text-align: center;font-size: 10pt;position: absolute;display: none}

#titlepage{margin-top: 30px;margin-left: 400px}